@charset "UTF-8";
a{
color=red;background-color: #00ff00
}
#aaa{
	font-size: 30px
}
.back{
	background-color: red
}
.fort{
	font-size:30px
}
[aa=bb]{
	color: black
}
.d1{
	width:200px;height: 200px;
	background-color: blue;
	padding-left:px; 
}
.d2{
	width:200px;height: 200px;
	background-color: red;
	margin:100px 0 0 50px;
	
}
.d21{
	width:20px;height: 200px;
	background-color: gray;
	margin:100px 0 0 50px;
	
}
.d22{
	width:20px;height: 20px;
	background-color: red;
	margin:100px 0 0 50px;

}