@charset "UTF-8";
.main{
    text-align: center; 
    background-color: #fff;
    border-radius: 20px;
    width: 300px;
    height: 350px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.input{
	display: block;
	height: 25px;
	width: 200px;
	margin:10px 0 10px 10px;
	
}
.btplane{
	height:45px;width: 200px;
	margin:10px 0px 10px 10px;
}
.bt{
	height:45px;width: 85px;
	margin:10px 5px 10px 5px;
}
.login{
	height:170px;
	width:220px;
	position: absolute;
	left: 50%;
	margin-left: -110px;
	top:50%;
	margin-top: -85px;
	background-color: red;
}
